.g-list {background: white}
.g-list>.g-title {position: relative; border-bottom: 1px solid #f2f2f2}
.g-list>.g-title>h2 {font-size: 18px; padding: 12px 0 10px 5px}
.g-list>.g-title>.more {position: absolute; right:0; top:0px}
.g-list>ul {}
.g-list>ul>li {padding:7px 10px;position: relative;border-bottom: 1px solid #f2f2f2}
.g-list>ul>li>a {}
.g-list>ul>li>a>.pic {}
.g-list>ul>li>a>.pic>img {width:63px}
.g-list>ul>li>a>.info {position: absolute; left:85px; top:5px; text-align: inherit;}
.g-list>ul>li>a>.info>.title {font-size: 15px}
.g-list>ul>li>a>.info>.genre {font-size: 12px}
.g-list>ul>li>a>.info>.rating {font-size: 11px}